body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #414141;
  text-align: center;
  color: #e4e4e498;
  font-size: 18px;
  line-height: 21px;
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #E4E4E4;
  font-weight: 700;
  font-style: normal;

}


h1 {
  font-size: 74px;
  line-height: 82px;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  display: block;
  text-decoration: none;
  color: #e4e4e498;
}

.container {
  max-width: 1180px;
  margin: 0px auto 200px auto;
}


.sP {
  display: flex;
  justify-content: space-between;
  text-align: center;
}







.imgIcon {
  width: 50px;
  margin-top: -20px;
  margin-right: 5px;
}





.headMain {
  margin-bottom: 0px;


}

.headText {
  text-align: left;
  margin-right: 125px;
  margin-bottom: 100px;
  color: #000;

}


header {
  padding-top: 50px;
  background: #2A2A2A url(img/myImg.png) no-repeat right bottom;
}

.headBtn {
  margin-top: 20px;
  width: 10em;
  background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
  box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
  border-radius: 8px;
  align-items: center;
  height: 2.7em;
  display: flex;
  justify-content: center;
  color: #000;
}

.main {
  margin-top: 100px;
}



.skill {
  width: 85px;
  height: 75px;
  background: #2C2C2C;
  margin: 10px;
  padding: 25px 30px 40px 30px;
  border-radius: 10px;
}



.sec {
  justify-content: center;
  display: flex;
  text-align: center;
}

.headNav {
  display: flex;
  justify-content: space-between;
}


nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

nav a {
  margin-left: 20px;
}

nav a:hover {
  text-decoration: underline rgb(230, 230, 230) dashed;
}


.burgerActive {
  position: fixed;
  top: 0px;
  right: -5px;
  height: 100%;
  width: 35%;
  background: #636363;
  border-radius: 10px;
  padding-left: 5px;
  z-index: 3;
}

.burgerIc div {
  width: 35px;
  height: 5px;
  background-color: #FFF;
  margin: 6px 0;
  top: 10px;
  right: 0px;
}

.bIactive1 {
  transform: rotate(45deg);
  position: absolute;
}

.bIactive2 {
  transform: rotate(-45deg);
  position: absolute;
}

.bIactive3 {
  display: none;
}


.burgerIc {
  display: none;
  position: fixed;
  z-index: 10;
  top: 5px;
  right: 5px;
}

.burgerMenu {
  display: block;
  margin: 50px auto auto auto;
  text-align: center;
}

.burgerMenu div {
  margin-top: 50px;
}

.imgMe {
  width: 250px;
  height: 250px;
  padding: 10px 0;
  border-radius: 10px;

}

.imgMe img {
  border: solid 5px rgb(102, 102, 102);
}

.imgMe:first-child {
  margin-bottom: 100px;
}

.aboutText {
  display: none;
  padding: 0px 50px 50px 50px;
  border-radius: 10px;
  background: #2C2C2C;
  margin-bottom: 100px;
  letter-spacing: 0.01em;
}

.aboutText h2 {
  padding-top: 50px;
}


.aboutMe {
  display: flex;
  justify-content: center;
  text-align: center;
  background: url(img/Ellips.png) no-repeat center / cover;
  background-size: contain;
}



.aboutMeDiv:first-child {
  position: relative;
  top: -10px;
  right: -30px;
  margin-top: -50px;
  z-index: 2;
}

.aboutMeDiv:last-child .imgMe {
  height: 350px;
  margin-top: 100px;
}



.imgMe:nth-child(2) {
  margin-bottom: 100px;
}





.imgMe {
  transform: translate();
  position: relative;
}

.slideImg1 {
  transition: all 1s ease 0s;
  transform: translate(-300%, 0);
}

.slideImg2 {
  transition: all 2s ease 0s;
  transform: translate(-300%, 0);
}

.slideImg3 {
  margin-left: -20px;
  transition: all 1.5s ease 0s;
  transform: translate(-500%, 0);
}






.portfolio {

  background: #2A2A2A;
  padding: 50px;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;

}

.portfolio .container {
  position: relative;
}


.portText {
  width: 400px;
}

.portWorks {
  margin-right: 50px;
  width: 400px;
}

.portWorks img {
  border-radius: 15px;
}




.portMain {
  position: relative;
  background: #414141;
  border-radius: 20px;
}

.portMain h2 {
  margin-top: 0;
}






.btn {
  z-index: 20;
  background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
  color: #E4E4E4;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  top: 50%;
  font-size: 30px;
  padding: 5px 5px 0px 5px;
}

.btn1 {
  position: absolute;
  left: -5%;
}

.btn2 {
  position: absolute;
  right: -5%;
}

.topMove {
  display: none;
  position: fixed;
  top: auto;
  bottom: 10px;
  right: 10px;
}




.footMain {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.footIcons {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.space {
  margin: 25px 0;
  font-size: 20px;
  text-align: left;
}

.href {
  color: rgb(204, 204, 204);
  text-decoration: underline;
}

.portSlide {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}

/* inst:Mamatov28 */

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slick-list {
  overflow: hidden;
}

.slider .slick-arrow {
  z-index: 2;
  background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
  color: #E4E4E4;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  top: 50%;
  font-size: 0;
  padding: 5px 5px 0px 5px;
  border: none;
  position: absolute;
  cursor: pointer;
}

.slider .slick-arrow.slick-prev {
  left: -50px;
  background: #E29500 url(img/left.svg) 0 0 no-repeat;
}

.slider .slick-arrow.slick-next {
  right: -50px;
  background: #E29500 url(img/right.svg) 0 0 no-repeat;
}


.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.slider .slick-dots li.slick-active button {
  background: #FFF;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #FFF;
}

::-webkit-scrollbar-thumb {
  background: #00C4F0;
}










































@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }

  .btn1 {
    left: -5%;
  }

  .btn2 {
    right: -5%;
  }


}

@media screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  .aboutMe {
    display: block;
    background: url(img/Ellips.png) top / 100%;
    background-repeat: round;

  }

  .aboutMeDiv:first-child {
    display: flex;
    justify-content: space-between;
    right: 0;
  }

  .portfolio {
    padding: 50px 10px;
  }

  .portSlide {
    display: block;
  }






  .imgMe {
    width: auto;
  }

  .slideImg3 {
    margin-left: 0;
  }

  .btn1 {
    left: 0px;
  }

  .btn2 {
    right: 0px;
  }

  .portText {
    width: auto;
  }

  .portWorks {
    margin-right: 0;
    margin-bottom: 40px;
    width: auto;
  }

  .slider .slick-arrow.slick-prev {
    left: 0px;

  }

  .slider .slick-arrow.slick-next {
    right: 0px;
  }
}



@media screen and (max-width: 767px) {
  .container {
    max-width: none;
  }

  .sP {
    display: block;
  }



  .main {
    margin-top: 200px;
  }

  header {
    padding-bottom: 20px;
    background-size: 90%;
  }

  .sec {
    display: block;
  }


  .headText {
    margin-bottom: 0;
  }

  nav {
    display: none;
  }

  .icon {
    display: none;
  }

  .burgerIc {
    display: block;
  }

  .headNav {
    transition: all 1s ease 0s;
    transform: translate(100%, 0);
  }

  .skills {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  H1 {
    font-size: 52px;
    line-height: 52px
  }

  .aboutMe {
    display: block;

  }

  .imgMe {
    width: auto;
    height: auto;
  }

  .aboutText {
    display: block;
    margin: 0 50px;
    padding: 0 10px 50px 10px;
  }

  .aboutMeDiv:first-child {
    display: block;
  }

  .btn {
    top: 60%;
  }




}

@media screen and (max-width: 575px) {

  .container {
    width: 90%;
    padding: 0 5px;
    font-size: 15px;
    line-height: 18px;
  }

  .headText div {
    padding-right: 5px;

  }

  .sP {
    display: block;
  }

  .aboutMeDiv:first-child {
    margin-left: 0;
  }

  .footMain {
    display: block;
  }

  .btn {
    top: 30%;
  }

  .btn1 {
    left: -8%;
  }

  .btn2 {
    right: -8%;
  }

  .aboutText {
    margin: 0 10px;
  }

  .burgerActive {
    width: 45%;
  }

  .portSlide {
    margin: 20px 30px 0 30px;
  }

}